<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="INEW2330_FineDining.Properties.Settings.inew2330su21ConnectionString"
            connectionString="Data Source=cstnt.tstc.edu;Initial Catalog=inew2330su21;User ID=group2su212330;Password=2547258"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>